/tmp
/tags
/pkg
*.pprof
/bin
.idea
.vscode
*.test
*.swp
/vmdocs
/gocache-for-docker
/victoria-logs-data
/vlagent-remotewritewrite
.DS_store
Gemfile.lock
/_site
_site
*.tmp
/docs/.jekyll-metadata
coverage.txt
cspell.json
*~
deployment/docker/provisioning/plugins/
