@use "src/styles/variables" as *;

.vm-bar-hits-chart {
  position: relative;
  width: 100%;
  height: 200px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &_hidden {
      min-height: 90px;
    }
  }

  &_panning {
    pointer-events: none;
  }

  &-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: $padding-small;
    padding: $padding-small $padding-small 0;

    &-info {
      display: flex;
      align-items: center;
      gap: $padding-small;
      color: $color-text-secondary;
      font-size: $font-size-small;
      font-family: monospace;
    }
  }
}
